/* MEDIA QUERIES */

@media screen and (max-width: 1050px) {
    .project p {
        max-width: 550px;
    }
}

@media screen and (max-width: 960px) {

    .educationInfo {
        position: relative;
    }

    .row {
        padding: 5px 5px;
    }

    .showMore {
        position: relative;
    }

    .tech {
        width: auto;
    }

    #abilitiesColLeft {
        padding-right: 0px;
    }
    
    #abilitiesColRight {
        margin-left: -10px;
    }

    #abilitiesColRight .abilityScore {
        margin-right: -10px;
    }

    #navbar {
        display: none;
    }

    #spaceneedle {
        display: none;
    }
}

@media screen and (max-width: 880px) {
    .fact {
        border: 1px solid gray;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .educationInfo {
        position: relative;
    }

    .project p {
        max-width: 650px;
    }

    .row {
        padding: 5px 5px;
    }

    .showMore {
        position: relative;
    }

    #abilitiesColLeft {
        padding-right: 0px;
    }
    
    #abilitiesColRight {
        padding-left: -10px;
    }

    #abilitiesColRight .abilityScore {
        margin-right: -10px;
    }

    #spaceneedle {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .educationInfo {
        position: relative;
    }

    .pastSection h5 {
        margin-left: 140px;
    }

    .projImg {
        margin-right: 10px;
    }

    .project h4 {
        font-size: 15px;
    }

    .project p {
        font-size: 12px !important;
        max-height: 100px;
        max-width: 550px;
        overflow-y: scroll;
    }

    .row {
        padding: 5px 5px;
    }

    .showMore {
        position: relative;
    }

    .technology {
        font-size: 13px;
    }

    #abilitiesColLeft {
        padding-right: 0px;
    }
    
    #abilitiesColRight {
        padding-left: -10px;
    }

    #abilitiesColRight .abilityScore {
        margin-right: -10px;
    }
}

@media screen and (max-width: 420px) {

    iframe {
        height: auto;
        min-height: 300px;
        min-width: 300px;
        width: 95vw;
    }

    .pastSection h5 {
        max-width: 300px;
    }
    
    .project p {
        max-width: 275px;
    }
}

@media screen and (max-width: 375px) {

    #tagline {
        font-size: 1.15rem;
    }

    .pastSection h5 {
        max-width: 260px;
    }

    .project p {
        max-width: 260px;
    }
}

@media screen and (max-width: 320px) {

    .pastSection h5 {
        max-width: 200px;
    }

    .project p {
        max-width: 200px;
    }
}