.projDescription {
    font-size: 14px;
    width: 85%;
}

.projDetails {
    border: none !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding: 10px 25px !important;
    width: 100%;
}

.projDetailsSection {
    margin-right: 10px;
    max-width: 30%;
    width: auto;
}

.projFeatures {
    display: flex;
}

.projFeatures ul {
    margin-bottom: 0px;
    width: 250px;
}

.projFeatures ul li {
    margin-left: 17px;
    list-style-type: circle;
}

.projHeader {
    background: #e0e0e0;
    display: block;
    height: 130px;
    position: relative;
}

.projImg {
    border: 1px solid gray;
    float: left;
    height: 130px;
    margin: 0px 15px 0px 0px;
    width: 130px;
}

.projScreenshots {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.projShowMore {
    bottom: 10px;
    position: absolute;
    right: 10px;
}

.projSubTitle {
    font-size: 14px;
    margin-top: 8px;
}

.projTitle {
    margin-bottom: 0px;
    padding-top: 8px;
}

.project {
    border: 1px solid darkgray;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    position: relative;
    padding: 5px !important;
    width: 100%;
}

.project a {
    font-size: 14px;
}

.project:first-child {
    margin-top: 0px;
}

.screenshot {
    border: 1px solid darkgray;
    height: 150px;
    margin-bottom: 3px;
    margin-right: 3px;
    width: 260px;
}

.technology {
    background: #fff;
    border: 1px solid darkgray;
    border-radius: 0px;
    padding: 2px 5px;
    text-align: center;
    white-space: nowrap;
}

.techList {
    display: block;
    line-height: 26px;
}

@media only screen and (max-width: 1200px) {
    .projDetailsSection {
        max-width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .screenshot {
        margin: 5px 0px 0px;
        max-width: 100%;
    }
}