/* ELEMENTS */

html {
    -ms-overflow-style: none;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
}

iframe {
    width: 480px;
    height: 480px;
}

::-webkit-scrollbar {
    background: transparent !important;
    height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 0;
}

header {
    text-align: center;
}

body {
    background: rgb(255, 255, 255);
}

h4 {
    /* display: inline; */
    font-size: 18px;
    width: 100%;
}

h5 {
    font-size: 14px;
}

p {
    margin-bottom: 5px;
}

/* IDENTIFIERS */

#backToTop {
  color: darkgray;
  cursor: pointer;
  display: none;
  font-size: 13px;
  height: 0px;
  margin-bottom: -5px;
  margin-top: 200px;
  min-height: 0px !important;
  padding: 0;
  width: 100%;
  z-index: 99;
}

#contactInfo {
    background: rgba(0, 0, 255, 0.178);
    min-height: 0px;
    text-align: center;
    z-index: 100;
}

#footer {
    bottom: 0;
    margin: 0px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

#footerContainer {
    background: rgb(41, 41, 41);
    border-top: 2px solid black;
    height: 500px;
    margin-bottom: 0px;
    margin-top: 40px;
    padding-bottom: 0px;
}

#footer .icon {
    color: rgb(100, 100, 100);
}

#footer .icon:hover {
    color: rgb(245, 243, 243);
}

#footerText {
    color: white;
    font-size: 42px;
    height: auto;
    width: 100%;
}

#mainContainer {
    margin-top: 10px;
}

#mainHeader {
    margin-top: 35vh;
}

#mainName {
    font-weight: 300;
    opacity: 0.9;
}

#navbar-arrow {
    background: rgb(36, 36, 36);
    color: white;
    font-size: 14px;
    margin-top: -60px;
    position: absolute;
    right: 50px;
    width: 100px;
    z-index: 100;
}

.navbar-item {
    color: white;
    cursor: pointer;
    display: block;
    height: 60px;
    padding-top: 17px;
    text-align: center;
}

.navbar-item:hover {
    background: rgb(0, 57, 166);
}

#overlay {
    background-color: rgb(0, 57, 166);
    bottom: 0;
    height: 100vh;
    left: 0;
    opacity: 0.80;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 2;
}

#profileContainer {
    margin-top: 70px;
}

#programmingProblems {
    background: rgba(142, 142, 255, 0.178);
    margin-top: -50px;
    margin-left: -8px;
    min-height: 0px;
    text-align: center;
    z-index: 100;
}

/* CLASSES */

.bullet {
    margin-left: -7px;
    margin-right: 7px;
    width: 10px;
}

.codeLink::before,
.videoLink::before {
    content: "| ";
}

.col-lg-6, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    margin: 15px 0px;
    padding: 10px 0px 10px 0px;
    max-width: 100%;
    width: 100%;
}

.conwayLink {
    color: orange;
    font-size: 14px !important;
}

.description {
    font-size: 14px;
    width: 100%;
}

.educationInfo {
    bottom: 0;
    font-size: 12px;
    margin-bottom: 10px;
}

.fa-plane {
    color: rgb(0, 57, 166);
    display: inline-block;
    margin-right: 7px;
    transform: rotate(270deg);
}

.fact {
    border-radius: 4px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 10px;
    text-align: center;
    width: 33%;
}

.fact:hover {
    background: rgb(214, 229, 255);
    color: rgb(0, 57, 166);
    transition: 0.5s;
}

.factIcon {
    margin-bottom: 8px;
    position: relative;
}

.factIconJuggling {
    margin-left: -20px;
}

.factIcon div {
    display: inline-block;
    position: absolute;
}

.fact i {
    height: 35px;
    margin: 0px auto;
    max-height: 35px;
}

.fact p {
    color: black;
    display: inline-block;
    font-weight: 400;
}

.funFacts {
    display: flex;
    flex-direction: row;
}

.icon {
    margin-left: 5px;
    margin-right: 5px;
}

.inline {
    display: inline-block !important;
}

.item {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.jobDetails {
    float: right;
    font-size: 12px;
    margin-top: -5px;
    text-align: right;
}

.juggleDesc {
    margin-top: 35px;
}

.jugglingVidBtn {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.jugglingVidBtn:hover {
    text-decoration: none;
}

.jumbotron {
    background: fixed url("../images/blueprint.jpg");
    height: 100vh;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
    padding: 0px;
    max-width: 100vw;
    width: 100vw;
}

.jumbotron .container {
    color: white;
    font-weight: 700;
    margin-top: 275px;
    position: relative;
    z-index: 4;
}

.logo {
    border: 1px solid gray;
    float: left;
    height: 130px;
    margin: 0px 15px 0px 0px;
    width: 130px;
}

.margin-top-10 {
    margin-top: 10px;
}

.modal-body {
    padding: 0px;
}

.modal-dialog {
    width: fit-content;
}

.moreInfo {
    background: rgb(245, 245, 245);
    display: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.pastSection {
    height: 130px;
}

.resumeBtn {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    z-index: 99;
}

.resumeBtn:hover {
    text-decoration: none;
}

.resumeBtnTitle {
    margin: 10px auto;
}

.row {
    margin: 0px;
    min-height: 100px;
    padding: 5px 180px;
    width: 100%;
}

.sectionTitle {
    min-height: 0px;
    text-align: left;
}

.sectionTitle h4 {
    /* font-family: 'Karla', sans-serif; */
    font-size: 28px;
    font-weight: 200;
}

.sectionTitle h4::after {
    border: 0.5px solid darkgray;
    content: " ";
    display: block;
    margin-bottom: 25px;
    margin-top: 15px;
}

.showMore {
    bottom: 0;
    color: rgb(0, 57, 166) !important;
    cursor: pointer;
    font-size: 14px;
    /* position: absolute; */
}

.workHeader {
    display: block;
    height: 130px;
    position: relative;
}
